@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: 'Roboto', sans-serif;
}

button.btn-ripple, a.btn-ripple:link {
    position: relative;
    overflow: hidden;
    transition: background .4s;
    outline: .0625rem solid darkgray;
    background-color: transparent;
    padding: .675rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .125rem;
    border: 0;
    text-decoration: none;
    border-radius: .75rem;
    cursor: pointer;
    display: inline-block;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .6s linear;
    transition: opacity .6s;
}

@keyframes ripple {
    to {
        transform: scale(4);
    }
}
