body {
    animation: background-change 2.5s infinite alternate;
    color: gold;
}

#queue-position {
    bottom: 7rem;
}

#queue-time {
    bottom: 5.25rem;
}

.queue-priority {
    bottom: 0;
}

.queue-priority button {
    background-color: transparent;
    color: gold;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    text-underline-offset: .25rem;
    cursor: pointer;
}

.queue-priority button:hover {
    color: #0af;
}

#queue-position, #queue-time, .queue-priority {
    position: fixed;
    font-family: monospace;
    font-size: 1.25rem;
}

#queue-position strong, #queue-time strong {
    font-weight: 900;
}

@keyframes background-change {
    from {
        background-color: black;
    }
    to {
        background-color: #202;
    }
}
