@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

html, body {
    min-height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0 0 .3125rem;
    line-height: 1.45rem;
    background: white;
    font-size: 1rem;
    position: relative;
}

.banner {
    background-color: #ffc;
    padding: .5rem;
    border-bottom: .125rem solid silver;
    text-align: center;
    display: none;
}

header, article, footer nav {
    max-width: 720px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.625rem;
    line-height: 2.0625rem;
    margin: 2.3125rem 0 .75rem;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin: 1.625rem 0 .75rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 1.5625rem 0 .75rem;
}

a {
    text-decoration: none;
}

header {
    padding: 3.875rem .1875rem 0;
}

header > h1 {
    text-align: center;
    margin: 3.9375rem 0 3.125rem;
}

header nav, footer nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
}

a.logo {
    padding-left: 3.125rem;
    letter-spacing: -.0625rem;
    background-image: url("logo.png");
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 2.125rem;
    line-height: 2.3125rem;
}

strong {
    font-weight: 600;
}

nav a:link, nav a:visited, a.blocklink:link, a.blocklink:visited, code a:link, code a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, body[theme="dark"] nav a:link, body[theme="dark"] nav a:visited, body[theme="dark"] a.blocklink:link, body[theme="dark"] a.blocklink:visited, body[theme="dark"] code a:link, body[theme="dark"] code a:visited, body[theme="dark"] h2 a:link, body[theme="dark"] h2 a:visited, body[theme="dark"] h3 a:link, body[theme="dark"] h3 a:visited, body[theme="dark"] h4 a:link, body[theme="dark"] h4 a:visited, body[theme="spooky"] nav a:link, body[theme="spooky"] nav a:visited, body[theme="spooky"] a.blocklink:link, body[theme="spooky"] a.blocklink:visited, body[theme="spooky"] code a:link, body[theme="spooky"] code a:visited, body[theme="spooky"] h2 a:link, body[theme="spooky"] h2 a:visited, body[theme="spooky"] h3 a:link, body[theme="spooky"] h3 a:visited, body[theme="spooky"] h4 a:link, body[theme="spooky"] h4 a:visited {
    color: inherit;
}

code, pre {
    font-size: .875rem;
}

pre {
    line-height: 1.375rem;
    padding-left: 1.25rem;
    overflow-x: auto;
}

code, pre, .cm-editor .cm-scroller {
    font-family: 'DrRcraft Hack', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

a.blocklink:hover, nav a.active, a:link, a:visited {
    color: #066adf;
}

body[theme="dark"] a.blocklink:hover, body[theme="dark"] nav a.active, body[theme="dark"] a:link, body[theme="dark"] a:visited {
    color: #4bafff;
}

body[theme="spooky"] a.blocklink:hover, body[theme="spooky"] nav a.active, body[theme="spooky"] a:link, body[theme="spooky"] a:visited {
    color: #d96d00;
}

.navlinks {
    flex-grow: 1;
    font-size: .875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .navlinks {
    align-items: center;
}

.navlinks > a {
    margin-left: 1.0625rem;
    padding-bottom: .1875rem;
}

.navlinks > a:hover {
    color: #066adf;
}

body[theme="dark"] .navlinks > a:hover {
    color: #4bafff;
}

body[theme="spooky"] .navlinks > a:hover {
    color: #d96d00;
}

nav#toc {
    position: absolute;
    box-sizing: border-box;
    top: 8.75rem;
    right: calc(50% + 22.5rem);
    color: #888;
    min-width: 9.375rem;
    max-width: 12.5rem;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    padding: .625rem 2.5rem 1.875rem .625rem;
    direction: rtl;
    font-size: .875rem;
    line-height: 1.45rem;
    font-weight: 600;
}

nav#toc a.current-section {
    color: black;
}

#searchbox ul.results {
    font-size: 85%;
    padding-left: .1875rem;
}

#searchbox input.active {
    border-bottom: .0625rem solid silver;
}

article {
    padding: .625rem .1875rem 10rem;
}

footer {
    margin-bottom: 3.375rem;
    padding: .875rem .1875rem 0;
}

h2.hr {
    font-size: .75rem;
    margin: 1.875rem 0 1.375rem;
}

hr, h2.hr:after {
    display: block;
    content: "";
    border: none;
    border-bottom: .125rem solid #e5e5e5;
    margin-top: -.125rem;
}

hr {
    margin: 2.8125rem 0 2.4375rem;
}

h2.above-list {
    font-size: .75rem;
    line-height: .9375rem;
    margin-bottom: 2.3125rem;
    margin-top: 2.625rem;
}

h2.module {
    margin-top: 15.625rem;
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding-top: .625rem;
    border-bottom: .0625rem solid black;
}

ul.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    padding: 0;
    gap: 2rem;
    position: relative;
}

ul.grid-list > li {
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
}

ul.grid-list p {
    margin: 0;
}

ul.grid-list-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    padding: 0;
    gap: 1.0625rem;
}

ul.grid-list-3 > li {
    display: block;
}

ul.grid-list-3 h3 {
    font-size: 100%;
    margin: 0;
}

ul.grid-list-3 p {
    margin: .5rem 0 .75rem;
}

ul.grid-list-5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    padding: 0;
    gap: 1.0625rem;
}

ul.grid-list-5 > li {
    display: block;
}

ul.grid-list-5 strong {
    font-size: 110%;
}

p, dl, dd, dt.lone, ul, ol, pre {
    margin-bottom: 1.4375rem;
}
li ul, li ol {
    margin-bottom: 0;
}

p, dl {
    margin-top: 1em;
}

ul.grid-list h3 {
    margin: 0 0 .5625rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 830px) {
    h1 {
        font-size: 1.375rem;
    }

    a.logo {
        padding-left: 2.125rem;
        letter-spacing: -.0625rem;
        background-size: 1.875rem;
        background-position: center left;
        background-repeat: no-repeat;
        font-size: 1.5rem;
        line-height: 1.875;
    }

    body {
        margin: 0 .1875rem;
    }
}

dd p, dd ul, dd ol {
    margin: 0;
}

dd {
    margin-left: 1.25rem;
}

dt {
    line-height: 1.35;
}

.breaktype {
    padding-left: 1.25rem;
}

h2 .keyword, h3 .keyword, h4 .keyword {
    font-weight: 600;
    margin-bottom: -.25rem;
    color: black;
}

h2 .keyword {
    font-size: 1.125rem;
}

h3 .keyword {
    font-size: 1rem;
}

h4 .keyword {
    font-size: .875rem;
}

div.figure {
    margin: 1em;
}

.figure img {
    width: 25rem;
    max-width: 90%;
}
